* {
	flex : 0 0 auto;
}

/* --- */

body {
	font-family : 'Cabin';
}

h1, h2, h3 {
	font-family : 'Boogaloo';
	font-weight : normal;
}

a {
	text-decoration : none;
}

a:link {
	color : #005555;
}

a:visited {
	color : #007777;
}

/* --- */

input, button, select, textarea {
	font-family : inherit;
	font-size : inherit;
	resize : none;
	border : none;
	padding : 0.5em;
}

input:focus, button:focus, select:focus, textarea:focus {
	outline : none;
}

button {
	cursor : pointer;
}
