body {
	display : flex;
	margin : 0;
	background: url("../static/diary1.jpg") center;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

div#left {
	flex : 1 0;
}

div#middle {
	flex : 3 0;
	
}

div#right {
	flex : 1 0;
}

/* --- */

h2#welcome {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
	color: white;
}

p#quote {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

p#author {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

form.signin {
	display : flex;
	flex-direction : column;
	align-items : center;
	padding : 10pt 0pt;
}

input.signin {
	text-align : center;
	background-color : buttonface;
}
