h1, h2 {
	font-family : 'Bubblegum Sans';
	font-weight : normal;
}

h3, h4 {
	font-weight : bold;
}

h3, h4, p, ul, ol, form {
	font-family : 'Cabin';
}

pre, code {
	font-family : 'Ubuntu Mono';
}

.hand {
	font-family : 'Marck Script';
}

a {
	text-decoration : none;
	color : indigo;
	font-weight : bold;
}
