body {
	font-family : 'Cabin';
	line-height : 1.25em;
}

h1, h2 {
	font-family : 'Bubblegum Sans';
	font-weight : normal;
	text-align : center;
}

pre, code {
	font-family : 'Ubuntu Mono';
}

.hand {
	font-family : 'Marck Script';
}

a {
	text-decoration : none;
}

a:link {
	color : #191970;
}

a:visited {
	color : #483d8b;
}
