body {
	flex-direction : row;
}

#left {
	flex : 1 0;
}

#middle {
	flex : 3 0;
	padding : 0pt 10pt;
	background-color : #b0ffff;
}

#right {
	flex : 1 0;
}

/* --- */

form {
	flex-direction : row;
	align-items : center;
	padding : 10pt 0pt;
}

textarea {
	flex : 1 0;
	border : none;
	padding : 0.5em;
}

button {
	flex : 0 0 auto;
	border : none;
	padding : 0.5em;
	margin-left : 10pt;
	background-color : #00bbbb;
	cursor : pointer;
}

textarea:focus, button:focus {
	outline : none;
}

/* --- */

#recent {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

.entry {
	padding : 10pt 0pt;
}

.date {
	flex : 1 0;
	margin : 0;
	color : gray;
	font-size : small;
}

.text {
	margin : 0;
}
