html, body {
	height : 100%;
	margin : 0;
}

body, div, form {
	display : flex;
	flex-direction : column;
}

hr {
	margin : 0;
	border-top : thin solid black;
}

/* --- */

body {
	font-family : 'Cabin';
}

h1, h2, h3 {
	font-family : 'Boogaloo';
	font-weight : normal;
}

input, textarea {
	font-family : inherit;
	font-size : inherit;
	resize : none;
}

a {
	text-decoration : none;
}

a:link {
	color : #4b0082;
}

a:visited {
	color : #008080;
}
