body {
	display : flex;
	margin : 0;
}

div#left {
	flex : 1 0;
}

div#middle {
	flex : 3 0;
	padding : 0pt 10pt;
	background-color : #b0ffff;
}

div#right {
	flex : 1 0;
}

/* --- */

h2#welcome {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

p#quote {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

p#author {
	margin : 0;
	padding : 10pt 0pt;
	text-align : center;
}

form.signin {
	display : flex;
	flex-direction : column;
	align-items : center;
	padding : 10pt 0pt;
}

input.signin {
	text-align : center;
	background-color : buttonface;
}
