body, div, form {
	display : flex;
	flex-direction : column;
}

html, body {
	height : 100%;
}

body {
	flex-direction : row;
	margin : 0;
}

/* --- */

#left {
	flex : 1 0;
}

#middle {
	flex : 4 0;
	padding : 0pt 10pt;
	background-color : #b0ffff;
}

#right {
	flex : 1 0;
}

/* --- */

form {
	flex-direction : row;
	align-items : center;
	padding : 10pt 0pt;
}

textarea {
	flex : 1 0;
	border : none;
	padding : 0.5em;
}

input {
	flex : 0 0 auto;
	border : none;
	padding : 0.5em;
	margin-left : 10pt;
	background-color : #00bbbb;
	cursor : pointer;
}

textarea:focus, input:focus {
	outline : none;
}

/* --- */

#recent {
	text-align : center;
}

/* --- */

.entry {
	padding : 10pt 0pt;
}

.date {
	flex : 1 0;
	margin : 0;
	color : gray;
	font-size : small;
}

.text {
	margin : 0;
}

/* --- */

h1, h2, h3 {
	font-family : 'Boogaloo';
	font-weight : normal;
}

p, ul, ol {
	font-family : 'Cabin';
}

input, textarea {
	font-family : 'Cabin';
	font-size : medium;
	resize : none;
}

a {
	text-decoration : none;
}

a:link {
	color : #4b0082;
}

a:visited {
	color : #008080;
}

hr {
	margin : 0;
	border-top : thin solid black;
}
